// =================================
// ==============Header=============
// =================================
$--header-size-color: #fff;
$--header-bg-color: #61b0ff;
$--header-bg-hover-color: #65b7ff;

// 背景
$--text-bg-hover: rgba(73, 177, 245, 0.7);

// 阴影
$--card-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.06);
