$--my-font--color: #fff;

:export {
  my-font-color: $--my-font--color;
}

/* 滚动条
------------------------------- */
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: linear-gradient(rgba(181, 255, 173, 0.79), rgba(158, 255, 239, 0.862));
  border-radius: 2px;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(rgba(71, 185, 255, 0.648), rgba(55, 112, 255, 0.785));
  border-radius: 10px;
}
