/* menuItem hover color
------------------------------- */
@keyframes menuItemHover {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes menuItemLeave {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

/* 向上渐显
------------------------------- */
@keyframes upTop {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* 上下移动
------------------------------- */
@keyframes topAndBottomMove {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* 头像旋转
------------------------------- */
@keyframes vatarRotateStart {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes vatarRotateEnd {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* 放大
------------------------------- */
@keyframes recentBig {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.1, 1.1);
  }
}
@keyframes recentSmall {
  0% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
